* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {


    font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar {

    width: 10px;


}

::-webkit-scrollbar-thumb {
    background-color: antiquewhite;
    border-radius: 30px;
}



::-webkit-scrollbar-track {
    background: linear-gradient(#568149, #A5D47D);

}

#scrollpath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    background-color: #568149;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;

}

.section-left {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.section-left-top p {

    border: solid #568149 2px;
    text-align: center;
    letter-spacing: 3px;
    padding: 5px;
}

.section-left-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 40px;
    letter-spacing: 5px;
    text-transform: uppercase;

}

.green-transform {
    color: white;
    background-color: #568149;
    padding: 5px;
}

.section-left-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 15px;

    padding-top: 15px;
    border-top: solid #568149 2px;
    width: 90%;

}

.section-left-bottom img {
    width: 15%;


}

.section-right {
    width: 85%;
    background-image: url(../photo/clear-light-bulb-planter-on-gray-rock-1108572.jpg);
    background-size: cover;
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    color: white;
    letter-spacing: 3px;
    text-transform: capitalize;
    font-size: 12px;
    border-bottom: solid white 2px;
    width: 90%;
    margin: auto;
}

.bilan {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    padding: 20px;
    font-size: 25px;
    letter-spacing: 4px;
    background-color: #568149;
    text-transform: uppercase;

}

/* SECTION REDUIRE !!!!!  */
.reduiresection {
    height: 80vh;
    width: 100%;
    display: flex;

}

.img-collection {
    width: 70%;
    height: 100%;
    transition: all ease 0.4s;
}

.img-collection-top {
    width: 100%;
    height: 50%;
    background-color: green;
    display: flex;
}

.img-collection-top-1 {
    width: 50%;
    height: 100%;
    background-image: url(../photo/bien-manufacturé-blur.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-collection-top-1 img,
.img-collection-top-2 img,
.img-collection-bottom-1 img,
.img-collection-bottom-2 img {
    border: solid white 2px;

}

.img-collection-top-2 {
    width: 50%;
    height: 100%;
    background-image: url(../photo/energie-blur.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.img-collection-bottom {
    width: 100%;
    height: 50%;
    background-color: red;
    display: flex;
}


.img-collection-bottom-1 {
    width: 50%;
    height: 100%;
    background-image: url(../photo/transport-blur.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-collection-bottom-2 {
    width: 50%;
    height: 100%;
    background-image: url(../photo/consomable-blur.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}



.container {
    width: 30%;
    height: 100%;
    transition: all ease 0.4s;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(120deg, #15D028 0%, #135F1A 100%);
    transition: all ease 0.4s;

}

.content h2 {
    position: relative;
    padding: 40px;
    font-size: 40px;
    color: white;
    letter-spacing: 5px;
    text-transform: uppercase;

}


.content p {
    padding: 40px;
    font-size: 30px;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    ;
    position: relative;
    transition: all ease 0.4s;
}

/* 

/* SECTION REDUIRE !!!!!  */



footer {
    border-top: solid black 1px;
    height: 15vh;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer h2 {
    letter-spacing: 4px;
    font-size: 18px;
}

@media screen and (max-width:1524px) {

    .count-box1 .title {
        font-size: 8px;
        padding: 3px;
    }

    .count-box1 .detail {
        font-size: 8px;
        letter-spacing: 0px;
        padding: 0;
        padding: 10px;
    }

    .count-box1 .price {
        font-size: 8px;

        padding: 10px;
    }

    .count-box2 .title {
        font-size: 8px;

        padding: 3px;
    }

    .count-box2 .detail {
        font-size: 8px;
        letter-spacing: 0px;
        padding: 0;
        padding: 10px;
    }

    .count-box2 .price {
        font-size: 8px;

        padding: 10px;
    }

    .count-box3 h2 {
        font-size: 8px;

        padding: 3px;
    }

    .count-box3 .detail {
        font-size: 8px;
        letter-spacing: 0px;
        padding: 0;
        padding: 10px;
    }

    .count-box3 .diff {
        font-size: 8px;
        padding: 10px;
    }
}


@media screen and (max-width:1300px) {
    .nav {
        font-size: 8px;
    }




    @media screen and (max-width :1200px) {


        .section-left {
            width: 30%
        }

        .section-left-bottom {
            flex-direction: column;

        }

        .section-left-bottom img {
            padding-top: 20px;
            width: 20px;

        }

        .section-left-top p {
            font-size: 10px;
        }

        .nav {
            flex-direction: column;
            height: 80vh;
            border-bottom: 0px;
        }

        .footer h2 {

            letter-spacing: 2px;
            font-size: 12px;
 
        }

        .content p {
            padding: 40px;
            font-size: 20px;


            letter-spacing: 1px;
            ;

        }

        .content h2 {

            padding: 40px;
            font-size: 30px;
            color: white;
            letter-spacing: 3px;


        } 

    }


    @media screen and (max-width :850px) {
        .reduiresection {

            flex-direction: column;
            height: 100vh;
        }

        .content {
            flex-direction: row;
        }

        .container {
            width: 100%;
            height: 30vh;

        }

        .reduiresection {
            height: 100vh;


        }

        .img-collection {
            width: 100%;
            height: 70vh;

        }

    }


    @media screen and (max-width:700px) {

        .footer h2 {

            letter-spacing: 1px;
            font-size: 8px;

        }

        .content P {
            font-size: 14px;
        }

    }

    @media screen and (max-height:600px) {

        .section-left-bottom {
            flex-direction: row;
        }

        .section-left-bottom img {
            padding-top: 5px;
            width: 15px;
        }

    }





    @media screen and (max-height:415px){
        body {
            display: none;
        }

    }

}